<div class="container-fluid">
  <div class="search-content">
    <div class="map-holder">
      <div id="map_search" style="height: 100vh; width: 50vw" data-markers="<%= @markers.to_json %>"></div>
    </div>
    <div class="card-holder">
      <% @parking_spaces.each_with_index do |space, index| %>
      <div class="card w-75 search-card" data-aos="fade-down" data-aos-offset="-75"
      data-aos-delay="<%= 100 + 400 * index < 2100 ? 100 + 400 * index : 150 %>">
        <div class="card-body">
          <h5 class="card-title"><%= space.address %></h5>
          <div class="card-icons">
            <div class="icons-left">
            <i class="fas fa-parking">    <%= space.category %></i>
            <br>
            <i class="fas fa-square">    <%= space.size %>m³</i>
            </div>
            <div class="icons-right">
            <i class="fas fa-money-bill-alt">    <%= space.price_per_hour / 100.00 %>$ per hour</i>
            <br>
            <i class="fas fa-globe"> -> <%= space.distance_to(@location) %>m away</i>
          </div>
          </div>
        </div>
        <div class="side-arrow">
          <div>
            <%= link_to "View >", parking_space_path(space), class: "side-arrow-link" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
