<div class="container-text-center-parking-space-show">
  <div class="grid-parking-space-show">

    <div class="parking-space-map-show">
      <div id="map_show" style="height: 100%; width: 100%" data-markers="<%= @marker.to_json %>"></div>
    </div>

    <div class="parking-space-picture-show"></div>

    <div class="parking-space-show">
      <h2><%= @parking_space.address %>-</h2> <p class="price">Price Per Hour: <%= @parking_space.price_per_hour %>€</p>
      <p class="parking-space-details"><strong>Catagory:</strong> <%= @parking_space.category%> | <strong>Size:</strong> <%= @parking_space.size %> <strong>sqm</strong></p>
    </div>

    <div class="booking-parking-space-show">
      <strong><p>Book this parking space:</p></strong>
      <%= render 'bookings/new' %>
    </div>

  </div>
</div>
