<h2>Book <%=  @parking_space.address%></h2>

<%= simple_form_for [@parking_space, @booking] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :status %>
  <%= select_tag "license", options_for_select(@licenses) %>


  <%= f.submit "Add booking", class: "btn btn-primary" %>
<% end %>
