
<h1 class="my-bookings-title">Bookings</h1>

<div class="bookings-container">
  <div class="row" id="bookings-maps-container">
    <% @bookings_data.each_with_index do |booking_data, i| %>
    <div class="col-xs-12 col-sm-12 col-md-6">

      <div class="card text-center">
        <div
        id="booking-map-<%= i %>"
        style="width: 100%;"
        class="booking-map"
        data-markers="<%= booking_data[:markers].to_json %>"
        ></div>
        <div class="card-body">
          <h4 class="card-title"><strong><%= booking_data[:parking_space].address %></strong></h4>
          <h5><%= booking_data[:booking].status.capitalize%></h5>
          <p class="card-text">
            <strong>Start Time:</strong>
            <%= booking_data[:booking].start_time.strftime("%b %e, %l:%M %p") %><br />
            <strong>End Time:</strong> <%= booking_data[:booking].end_time.strftime("%b %e, %l:%M %p") %>  
          </p>
          <h5>
            <strong>Total: <%= booking_data[:booking].price / 100 %>€</strong>
          </h5>
          <%= link_to "View booking", parking_space_booking_path(booking_data[:parking_space].id, booking_data[:booking].id), class: "btn btn-primary" %>
        </div>
      </div>

    </div>
    <% end%>
  </div>
</div>
