<h2 class="my-booking-title">Booking at <%= @parking_space.address %></h2>

<ul class="my-booking-list">
  <li><strong> Start time:</strong> <%= @booking.start_time %> | <strong>End time:</strong> <%= @booking.end_time %> </li>
  <li><strong>Car-license:</strong> <%= @car.license %></li>
  <li><strong>Price:</strong> <%= @booking.price/ 100 %>€</li>
  <li><strong>Status:</strong> <%= @booking.status %></li>
  <%= link_to "Edit booking", edit_parking_space_booking_path(@parking_space, @booking) %>
</ul>

