
<div class="dashboard-container text-center">
  <div class="grid">
    <div class="profile">
      <div class="card-content">
        <%= image_tag current_user.avatar, class: "profile-avatar" %>
        <h2><%= current_user.first_name %> <%= current_user.last_name  %></h2>
        <hr>
        <table style="width: 100%">
          <tr>
            <td><i class="far fa-envelope"></i></td>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <td><i class="fas fa-mobile-alt"></i></td>
            <td><%= current_user.phone_number %></td>
          </tr>
          <tr>
            <td><i class="fas fa-map-marker"></i></td>
            <td>
              <%= current_user.address  %>,
              <%= current_user.city  %>,
              <%= current_user.postcode  %>,
              <%= current_user.country  %>
            </td>
          </tr>
        </table>
        <%= link_to "Edit Details",edit_user_registration_path, class: "btn btn-primary btn-lg dashboard-button" %>
      </div>
    </div>


    <div class="dashboard-upcoming-bookings">
      <div class="content-card upcoming-booking-card">

      <% @parking_spaces = current_user.parking_spaces %>

          <h3>Upcoming bookings</h3>
          <br>
          <table class="dashboard-bookings-table" style="width: 100%">
            <tr>
              <th>Address</th>
              <th>Dates</th>
              <th>Revenue</th>
            </tr>
            <% @parking_spaces.each do |parking_space| %>
              <% if parking_space.bookings %>
                <% @bookings = parking_space.bookings %>
                <% @bookings.each_with_index do |booking, index| %>
                <% if index < 5  %>
                  <tr>
                    <td><%= booking.parking_space.address%></td>
                    <td><%= booking.start_time.strftime("%b %e, %l:%M %p") %> - <%= booking.end_time.strftime("%b %e, %l:%M %p") %></td>
                    <td><%= booking.price / 100.00 %>€</li><td>
                    <!-- <td><%= link_to "view", parking_space_booking_path(booking.parking_space_id, booking.id) %></td> -->
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </table>

      </div>
    </div>

    <div class="dashboard-revenue">
      <div class="card-content">
        <h3>Revenue</h3>

      </div>

    </div>

  </div>
</div>
