
<div class="dashboard-container text-center">
  <div class="grid">
    <div class="profile">
      <div class="card-content">
        <%= image_tag current_user.avatar, class: "profile-avatar" %>
        <h2><%= current_user.first_name %> <%= current_user.last_name  %></h2>
        <hr>
        <table style="width: 100%">
          <tr>
            <td><i class="far fa-envelope"></i></td>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <td><i class="fas fa-mobile-alt"></i></td>
            <td><%= current_user.phone_number %></td>
          </tr>
          <tr>
            <td><i class="fas fa-map-marker"></i></td>
            <td>
              <%= current_user.address  %>,
              <%= current_user.city  %>,
              <%= current_user.postcode  %>,
              <%= current_user.country  %>

            </td>
          </tr>
        </table>
        <%= link_to "Edit Details",edit_user_registration_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="bookings">
      <div class="card-content">
          <h3>Bookings </h3> <%= link_to "View Bookings",bookings_path, class: "btn btn-primary" %>
          <% current_user.car_bookings.each do |booking| %>
          <% parking_space = ParkingSpace.find_by(id: booking.parking_space_id) %>
          <% car = Car.find_by(id: booking.car_id) %>
          <p>
            <strong>
              <%= parking_space.address %>,<%= parking_space.city %>
            </strong>
            - <%= booking.status %>
          </p>
          <p>
            <%= booking.start_time %> -
            <%= booking.end_time %>
            . <%= car.license %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="spaces">
      <div class="card-content">
        <h3>Space </h3>
        <%= link_to "View  All Spaces", parking_spaces_path, class: "btn btn-primary" %>
        <% current_user.cars.each do |space|  %>
          <%= space. %>

        <% end %>


      </div>

    </div>
    <div class="cars">

      <div class="card-content">
        <h3>Cars</h3>
        <%= link_to "View All Cars", cars_path, class: "btn btn-primary" %>
        <% current_user.cars.each do |car|  %>
            <%= car.license %>
            <%= car.colour %>
            <%= car.brand %>
            <%= car.model %>
        <% end %>

      </div>

    </div>
    <!-- <div class="description">

      <div class="card-content">
        <h3>TODO: Add Map With Closest Spaces</h3>
        <p class="text-justify">
          I am a full-stack developer with 9 years of experience working in startups. Scratching your own itch? Working on a startup project? Lots of ideas but frustrated that you can't code them? Confused with agencies' or freelances' quotes? No clue when a developer is talking? Time to learn to code with Le Wagon with a 9-week intensive and immersive bootcamp!
        </p>
      </div>
    </div> -->
  </div>
</div>
