<h1>Edit Car</h1>

<%= simple_form_for(@car) do |f| %>
  <div class="form-group">
    <%= f.label :license %>
    <%= f.text_field :license, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :brand %>
    <%= f.text_field :brand, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :model %>
    <%= f.text_field :model, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :colour %>
    <%= f.text_field :colour, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
